# Dependency directories
node_modules/

# Local uploads directory
backend/uploads/

# Environmental configs
.env
.env.local
.env.*.local

# Build output
frontend/dist/

# Log files
*.log
npm-debug.log*
yarn-debug.log*

# System files
.DS_Store
Thumbs.db
